#florist-section {
  padding: 2rem 0;
  .florist {
    @include flexBox(center);
    gap: 10px;
    .florist-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      h1 {
        color: #0c5b47;
        font-size: 46px;
      }
      p {
        color: #0c5b47;
        font-size: 16px;
        width: 300px;
      }
      .mary {
        font-style: italic;
      }
      img {
        width: 200px;
      }
    }
    .florist-right {
      width: 50%;
      height: 100%;
      position: relative;
      padding: 0 16px;
      display: flex;
      justify-content: center;
    }
    img {
      width: 200px;
      border-radius: 10px;
    }
    .image1 {
      position: relative;
      left: -30px;
    }
    .image2 {
      position: relative;
      top: 40px;
      left: 20px;
      z-index: 1;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .florist {
      flex-direction: column-reverse;
      gap: 20px;
      .florist-right {
        .image2 {
          display: none;
        }
      }
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .florist {
      flex-direction: column-reverse;
      gap: 20px;
      .florist-right {
        .image2 {
          display: none;
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .florist {
      flex-direction: column-reverse;
      gap: 20px;
      .florist-right {
        .image2 {
          display: none;
        }
      }
    }
  }
}
